@font-face {
    font-family: 'ProstoOne';
    src: url(../fonts/Prosto_One/ProstoOne-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}